{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header class="major special">
        <h1>
          {%- for item in this.welcome -%}
            {{ item }}<br/>
          {%- endfor -%}
        </h1>
      </header>
        {%- if this.head and this.head_link %}
      <ul class="actions special">
        <li>
          <a href="{{ this.head_link }}" class="button primary wide scrolly">{{ this.head }}</a>
        </li>
      </ul>
      {%- endif %}
    </div>
  </section>






  <!-- Section -->


{% endblock %}
